<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>databot reference</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <style>
            {{ style }}
        </style>
        <style>
            div.output pre {
                background: none;
                border: none;
                padding: 0px;
                margin-top: -4px;
                margin-bottom: 24px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h2>Table of content</h2>

            <ul>
            {% for key, title in toc.items() %}
                <li><a href="#{{ key }}">{{ title }}</a></li>
            {% endfor %}
            </ul>

            {% macro section(key) -%}
            <a name="{{ key }}"></a>
            <h2>{{ toc[key] }}</h2>
            {%- endmacro %}


            {{ section('append') }}

            {% code lang='py3' sample='append' %}
            p1.append(None)
            {% end_code %}

            {% code lang='py3' sample='append' %}
            p1.append(1)
            {% end_code %}

            {% code lang='py3' sample='append' %}
            p1.append([1, 2, 3])
            {% end_code %}

            {% code lang='py3' sample='append' %}
            p1.append([
                (1, 'a'),
                (2, 'b'),
                (3, 'c'),
            ])
            {% end_code %}


            {{ section('duplicates') }}

            {% code lang='py3' sample='duplicates' %}
            p1
            {% end_code %}

            {% code lang='py3' sample='duplicates' %}
            p1.dedup()
            {% end_code %}

            {% code lang='py3' sample='duplicates' %}
            p1.compact()
            {% end_code %}


            {{ section('expressions') }}

            {% code lang='py3' sample='expressions' %}
            this
            {% end_code %}

            {% code lang='py3' sample='expressions' %}
            this.key
            {% end_code %}

            {% code lang='py3' sample='expressions' %}
            this.value.title.strip().upper().replace('"', '')
            {% end_code %}

            {% code lang='py3' sample='expressions' %}
            this.value.list.join(', ')
            {% end_code %}

            {% code lang='py3' sample='expressions' %}
            this.value.link.urlparse().query.q.cast(int)
            {% end_code %}

            {% code lang='py3' sample='expressions' %}
            this.value.title.re(r'\d+').cast(int)
            {% end_code %}

            {% code lang='py3' sample='expressions' %}
            this.value.title.re(r'"(\w+)"')
            {% end_code %}


            {{ section('html') }}

            {% codefile lang='html' path='fixtures/sample.html' %}

            {% code lang='py3' sample='html' %}
            p1.select('head > title:text')
            {% end_code %}

            {% code lang='py3' sample='html' %}
            p1.select('head > title:text', 'body > p:text')
            {% end_code %}

            {% code lang='py3' sample='html' %}
            p1.select(select('head > title:text').upper())
            {% end_code %}

            {#
            {% code lang='py3' sample='html' %}
            p1.select(this.key, this.encoding)
            {% end_code %}
            #}

            {% code lang='py3' sample='html' %}
            p1.select(this.key, {
                'title': 'head > title:text',
                'body': 'body > p:text',
            })
            {% end_code %}

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
